html,body{
    position: relative;
    height: 100%;
}

.bolded{
    font-weight: bold;
}

#addedTxts{
    background: #fffff0;
    font-weight: bold;
}

#newDoc {
    background: #fafad2;
}

div.disqualified button {
    color: #fff;
}

div.disqualified * {
    color: #999;
}

#pnlLeft{
    overflow-y: scroll;
}

.panel-title{
    font-size: 1.5rem;
}

.selected{
    background: #0f0;
}

#annrow{
    background: #dfe;
    padding: 1rem 0;
}

.table-condensed{
    font-size: 1rem;
    width: 100%;
}

span.marked {
    background: #0f0 !important;
}

span.annotated.marked {
    background: #BB8FCE !important;
}

span.base {
    color: white;
}

span.info-marked {
    background: #BB8FCE;
}

span.role {
    mix-blend-mode: multiply;
}

a.referent {
    background: #BB8FCE;
}

label.active {
    background: #0f0;
}

label.inactive {
    background: #f00;
}

.event_Change_of_leadership {
    background: #F4A460;
}

.event_Killing {
    background: #0ff;
}

.event_Offenses {
    background: #77f;
}

.event_ {
    background: #f99;
}

.event_d {
    background: #ffffb3;
}

.event_o {
    background: #F5DEB3;
}

.event_g {
    background: #808000;
}

.good_info {
    color: #0f0;
}

.bad_info {
    color: #f00;
}

.annotated {
    font-weight: bold;
}

.suggested {
    border-style: groove;
}

.clickme {
    border-style: groove;
}

.info-panel-1 {
    background: #EBFBEC;
}

.info-panel-2 {
    background: #fbf7eb;
}

.info-panel-3 {
    background: #EBF5FB;
}


.info-panel-4 {
    background: #F4ECF7;
}

.info-panel-5 {
    background: #EAECEE;    
}

select {
    width: 100%;
}

#newReferent {
    width: 100%;
}
