#annotation-controls {
    background: #dfe;
    padding: 1rem 0;
}

.document-title {
    font-size: 1.5rem;
}

.table-condensed{
    font-size: 1rem;
    width: 100%;
}

/* Messages */
.error-msg {
    color: red;
}

.info-msg {
    color: blue;
}

.success-msg {
    color: green;
}

.warning-msg {
    color: orange;
}

/* Markables */
.structured-data.marked {
    background: #BB8FCE !important;
}

.markable.marked {
    background: #0f0 !important;
}

.markable.annotated.marked {
    background: #BB8FCE !important;
}

span.info-marked {
    background: #BB8FCE;
}

.annotated {
    font-weight: bold;
}

.annotated-depends {
    font-weight: bold;
    font-style: italic;
}

.annotated-depends.marked {
    background-color: #BB8FCE !important;
}

/* Info panels */
.info-panel {
    margin-bottom: 10px;
    background: #EBF5FB;
}

select {
    width: 100%;
}

input[type=text] {
    line-height: 9px;
    font-size: 9px;
}